        ::-webkit-scrollbar{
            display: none;
        }
 

    /* <!-- metamask connection loading animation --> */
        .loading-ring {
            width: 30px; /* Adjust size as needed */
            height: 30px; /* Adjust size as needed */
            border: 3px solid rgba(0, 0, 0, 0.1);
            border-left-color: #d8771b; /* Adjust color as needed */
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        .buy-loading-ring{
             width: 25px; /* Adjust size as needed */
            height: 25px; /* Adjust size as needed */
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #d8771b; /* Adjust color as needed */
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }


    /* <!-- notification css  --> */
    .notification {
        z-index: +9999;
        position: fixed;
        top: 15%;
        right: -300px;
        transform: translate(0, -50%);
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: right 0.5s ease;
    }

    .notification.show {
        right: 20px; /* Slide in from the right */
    }

    .notification.show .close {
        display: block;
    }

    .close {
        position: absolute;
        top: -1px;
        right: 8px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        z-index: +10000;
    }
    #notification_text{
        margin-right: 20px;
    }




    /* ======================== refferal | reffer ========================== */
       .link_tab{
        padding: 10px;
    }
    .refferal_link_input{
        border-radius: 10px;
        box-shadow: 00px 00px 3px rgb(121, 121, 121);
        padding: 10px;
        font-size: 12px;
    }
    .refferal_link_input_button{
        border-radius: 10px;
        box-shadow: 00px 00px 3px rgb(121, 121, 121);
        padding: 10px;
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
        font-weight: bold;
        background-color: #bce70c;
        color: black;
    }
    .refferal_heaing_h5{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: end;
    }
    .refferal_heaing_h5::after{
      content: "";
      background-color: #bce70c;
      height: 3px;
      width: 150px;
      position: absolute;
    }
    .refferal_point_details{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .refferal_point_details .reff_th_box{
      text-align: center;
      padding: 15px;
      border-radius: 10px;
      background-color: #314423;
      color: white;
      box-shadow:0px 0px 4px white;
    }
    .refferal_rules_div{
        border-radius: 10px;
        box-shadow: 00px 00px 3px rgb(121, 121, 121);
        padding: 10px;  
    }
    .refferal_user_detailas{
        border-radius: 10px;
        margin-top: 20px;
        color: black;
        overflow: hidden;
        box-shadow:0px 0px 4px #bce70c;
    }
    .friends_details_box_heading{
        margin-bottom: 10px;
    }
    
    .refferal_user_detailas_heaing{
        background-color: #bce70c;
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .user_details_value_div{
        padding: 15px;
    }
    .user_details_row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .clicked_copy_btn{
        background-color: #97b90b;
        transform: scale(0.95);
        transform-origin:center;
    }
    .user_details_row b{
       color: white;
    }