        ::-webkit-scrollbar{
            display: none;
        }
 

    /* <!-- metamask connection loading animation --> */
        .loading-ring {
            width: 30px; /* Adjust size as needed */
            height: 30px; /* Adjust size as needed */
            border: 3px solid rgba(0, 0, 0, 0.1);
            border-left-color: #d8771b; /* Adjust color as needed */
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        .buy-loading-ring{
             width: 25px; /* Adjust size as needed */
            height: 25px; /* Adjust size as needed */
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #d8771b; /* Adjust color as needed */
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }


    /* <!-- notification css  --> */
    .notification {
        z-index: +9999;
        position: fixed;
        top: 15%;
        right: -300px;
        transform: translate(0, -50%);
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: right 0.5s ease;
    }

    .notification.show {
        right: 20px; /* Slide in from the right */
    }

    .notification.show .close {
        display: block;
    }

    .close {
        position: absolute;
        top: -1px;
        right: 8px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        z-index: +10000;
    }
    #notification_text{
        margin-right: 20px;
    }


    // refferal seciton | reffer section
.reffer_mini_btn .pending{
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #415007;
}
.reffer_mini_btn .success{
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    background-color: #bbe70c;
}
.refferal_div_heading{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.refferal_div_body > .row_body{
    border-bottom: 1px solid #60750a;
    padding-bottom: 10px;
}
.refferal_div_heading, .refferal_div_body > .row_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}